@charset "UTF-8";
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* EN UTILITIES -> bucles, mixin. IF NO, ya queson condicionales solo para una clase */
.btn-primary {
  padding: 10px;
  cursor: pointer;
  background-color: #0f0f80;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #0a0a52;
  box-shadow: 1px 1px 6px #3f3fe9;
  border: 1px solid #3f3fe9;
  font-size: 28px;
}

.btn-danger {
  padding: 10px;
  cursor: pointer;
  background-color: #6b1313;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
}
.btn-danger:hover {
  background-color: #400b0b;
  box-shadow: 1px 1px 6px #dc3b3b;
  border: 1px solid #dc3b3b;
  font-size: 28px;
}

.btn-warning {
  padding: 10px;
  cursor: pointer;
  background-color: #946712;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
}
.btn-warning:hover {
  background-color: #67470c;
  box-shadow: 1px 1px 6px #eab755;
  border: 1px solid #eab755;
  font-size: 28px;
}

.btn-dark {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
  /* RESTO DE LOS BOTONES */
}
.btn-dark:hover {
  background-color: #1a1a1a;
  box-shadow: 1px 1px 6px #4d4d4d;
  border: 1px solid #4d4d4d;
  font-size: 28px;
}

.btn-light {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #000000;
  /* BOTON OSCURO */
}
.btn-light:hover {
  background-color: gray;
  border: 1px solid white;
  color: #ffffff;
  box-shadow: 1px 1px 6px white;
  font-size: 28px;
}

.btn-success {
  padding: 10px;
  cursor: pointer;
  background-color: #0f520f;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
}
.btn-success:hover {
  background-color: #072707;
  box-shadow: 1px 1px 6px #27d327;
  border: 1px solid #27d327;
  font-size: 28px;
}

.btn-info {
  padding: 10px;
  cursor: pointer;
  background-color: #868686;
  outline: none;
  border: 1px solid transparent;
  transition: 0.3s;
  font-weight: bold;
  font-size: 25px;
  /* BOTON CLARO */
  color: #ffffff;
}
.btn-info:hover {
  background-color: #6d6d6d;
  box-shadow: 1px 1px 6px lightgray;
  border: 1px solid lightgray;
  font-size: 28px;
}

/* EXTENDS = sacamos propiedades de otra clase,
MIXIN (s/parametros) = funcion que guarda propiedades en un "mixin"
MIXIN (c/parametros) = *EJEMPLO BAJO* */
/* MIXIN (s/parametros) */
/* EJEMPLO de MIXIN (c/parametros) */
.box-container {
  background-color: red;
  display: flex;
  position: absolute;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
}

header nav {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #01463b;
  box-shadow: 0px 0px 10px 0px #000000;
}

header .img-logo {
  width: 100px;
  height: 140px;
}

nav a {
  color: #01463b;
  text-decoration: none;
  padding: 15px 25px;
  font-size: 1.2em;
  transition: background-color 0.3s;
  position: relative;
  left: 20%;
}

nav a:hover {
  background-color: #00917C;
  color: #ffffff;
}

body {
  background-color: #01463b;
}

.container-fluid .row img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card .card-img-top {
  width: 30%;
}

.card-two {
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: #00917C;
  border-radius: 0;
  border: none;
}

.btn:hover {
  background-color: #01463b;
}

.boxy {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.boxy2 {
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 50px;
}

/* TO = tiene en cuenta hasta el ante ultimo numero */
/* THROUGH = tiene en cuenta todos los numeros */
* {
  font-family: "Archivo", sans-serif;
  margin: 0;
  padding: 0;
  /*display: flex;*/
}

/*
    main {
      flex: 1;
      padding: 0px;
      text-align: center;
    }


    section {
      padding: 20px;
    }

    h2 {
      color: #433520;
    }

    p {
      color: #025955;
      font-size: 1.1em;
    }

    .prompt-btn {
      background-color: #00917C;
      color: #FDE8CD;
      border: none;
      padding: 15px 30px;
      font-size: 1.2em;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .prompt-btn:hover {
      background-color: #025955;
    }

    .img-logo {
      width: 250px;
    }

    .img-logo:hover {
      transform: scale(1.1);
      transition: .2s;
      cursor: pointer;
    }

    main header {
      background-image:linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.315)),    url(img/cafe-wallpaper-2.jpg);

      background-repeat: no-repeat;
      background-size: 100%;
      background-attachment: fixed;
      background-position-y: -250px;
    }


    .footer-cofi {
      width: 100%;
      height: 150px;
      background-color: #00917C;
    } */
/*
    #slider-container {
      position: relative;
      top: -20px;
      overflow: hidden;
    }

    #slider {
      display: flex;
      animation: slide 10s infinite; /* Ajusta la duración según tus preferencias *

  }

    #slider img {
      width: 100%;
      height: auto;
    }

    @keyframes slide {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-200%);
      }
      75% {
        transform: translateX(-300%);
      }
      100% {
        transform: translateX(0);
      }

      100% {
          transform: translateX(0);
        }
        75% {
          transform: translateX(-100%);
        }
        50% {
          transform: translateX(-200%);
        }
        25% {
          transform: translateX(-300%);
        }
        0% {
          transform: translateX(0);
        }
    } */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #01463b;
}

.contenedorDeCarta {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 15px;
  background-color: #e5ff50;
}

.card-body p {
  font-weight: bold;
}

.botonCarta {
  width: 70%;
}

.nuestrasVariedades {
  font-weight: bold;
  width: 100%;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.footer {
  background-color: #01463b;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  background-image: url(../img/barista-wallpaper.jpg);
  background-size: 100%;
  background-position-y: -500PX;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactoSection p {
  color: #ffffff !important;
}

.footer-section {
  margin: 10px;
}

.footer-section h4 {
  color: #01463b;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-section p {
  color: black;
  text-shadow: 2px 1px 5px #ffffff;
}

.footer-section a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-section form input[type=email] {
  padding: 5px;
  margin: 5px 0;
  border: none;
  border-radius: 3px;
}

.footer-section form button {
  padding: 5px 10px;
  background-color: #F39C12;
  color: #01463b;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.footer-bottom {
  border-top: 1px solid #7F8C8D;
  margin-top: 20px;
  padding-top: 20px;
}

.footer-bottom p {
  color: #BDC3C7;
}

/*# sourceMappingURL=style.css.map */
