
$cofiFirstColor: #01463b;
$cofiSecondColor: #15c2a5;

$mainColor: grey;

$temporada: invierno;

$primary-color: blue;
$secondary-color: red;

$cold-color: aquamarine;
$secondary-cold-color: black;

$colores: (
    primary: #0f0f80,
    danger: #6b1313,
    warning: #946712,
    dark: #000000,
    light: #ffffff,
    success: #0f520f,
    info: #868686,
);